# Regularization Part 3 - Elastic Net Gridsearch

In [94]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
plt.rcParams["figure.figsize"] = (10,6)
pd.set_option('display.max_columns', 100)

In [95]:
df = pd.read_csv("https://raw.githubusercontent.com/msddk/DS_Bootcamp/main/Machine%20Learning/Linear%20Regression/Advertising.csv")

In [96]:
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [97]:
df.shape

(200, 4)

In [98]:
X = df.drop("sales", axis =1)
y = df["sales"]

In [99]:
X.head()

      TV  radio  newspaper
0  230.1   37.8       69.2
1   44.5   39.3       45.1
2   17.2   45.9       69.3
3  151.5   41.3       58.5
4  180.8   10.8       58.4

### Polynomial Features

In [100]:
from sklearn.preprocessing import PolynomialFeatures

We will create an artificial overfitting case by using the degree as 5.

In [101]:
polynomial_converter = PolynomialFeatures(degree=5, include_bias=False)

poly_features = polynomial_converter.fit_transform(X)

In [102]:
poly_features.shape

(200, 55)

### Train | Test Split

In [103]:
from sklearn.model_selection import train_test_split

In [104]:
X_train, X_test, y_train, y_test = train_test_split(poly_features, y, test_size=0.3, random_state=42)

## Scaling the Data

In [105]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [106]:
scaler.fit(X_train)

StandardScaler()

In [107]:
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

## <span style='color:red'> Elastic net</span>

In [108]:
from sklearn.linear_model import ElasticNet, ElasticNetCV

In [109]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

def train_val(y_train, y_train_pred, y_test, y_pred, name):
    
    scores = {name+"_train": {"R2" : r2_score(y_train, y_train_pred),
    "mae" : mean_absolute_error(y_train, y_train_pred),
    "mse" : mean_squared_error(y_train, y_train_pred),                          
    "rmse" : np.sqrt(mean_squared_error(y_train, y_train_pred))},
    
    name+"_test": {"R2" : r2_score(y_test, y_pred),
    "mae" : mean_absolute_error(y_test, y_pred),
    "mse" : mean_squared_error(y_test, y_pred),
    "rmse" : np.sqrt(mean_squared_error(y_test, y_pred))}}
    
    return pd.DataFrame(scores)

In [110]:
elastic_model = ElasticNet(alpha=1, l1_ratio=0.5, random_state=42) # l1_ratio: 1: Lasso or 0:Ridge
elastic_model.fit(X_train_scaled, y_train)

ElasticNet(alpha=1, random_state=42)

In [111]:
y_pred = elastic_model.predict(X_test_scaled)
y_train_pred = elastic_model.predict(X_train_scaled)

In [112]:
es = train_val(y_train, y_train_pred, y_test, y_pred, "elastic")
es

      elastic_train  elastic_test
R2         0.895108      0.897352
mae        1.214719      1.235418
mse        2.752460      2.802755
rmse       1.659054      1.674143

## ElasticNet Cross Validation (Default parameters: alpha = 1 and l1_ratio=0.5)

In [113]:
from sklearn.model_selection import cross_validate

In [114]:
model = ElasticNet(alpha=1, l1_ratio=0.5, random_state=42)
scores = cross_validate(model, X_train_scaled, y_train,
                        scoring=['r2', 'neg_mean_absolute_error','neg_mean_squared_error','neg_root_mean_squared_error'], cv=5)

In [115]:
scores = pd.DataFrame(scores, index = range(1, 6))
scores.iloc[:,2:]

,test_r2,test_neg_mean_absolute_error,test_neg_mean_squared_error,test_neg_root_mean_squared_error
1,0.917248,-1.063815,-1.693685,-1.301417
2,0.914136,-1.180277,-2.175158,-1.474842
3,0.856208,-1.631517,-4.130984,-2.032482
4,0.944925,-1.001975,-1.763350,-1.327912
5,0.766037,-1.385597,-4.885967,-2.210422

In [116]:
scores = pd.DataFrame(scores, index = range(1, 11))
scores.iloc[:,2:].mean()

test_r2                             0.879711
test_neg_mean_absolute_error       -1.252636
test_neg_mean_squared_error        -2.929829
test_neg_root_mean_squared_error   -1.669415
dtype: float64

In [117]:
train_val(y_train, y_train_pred, y_test, y_pred, "elastic")

      elastic_train  elastic_test
R2         0.895108      0.897352
mae        1.214719      1.235418
mse        2.752460      2.802755
rmse       1.659054      1.674143

In [118]:
elastic_model.coef_

array([0.86989993, 0.31154405, 0.        , 0.29973261, 0.9703704 ,
       0.04306067, 0.082779  , 0.        , 0.        , 0.        ,
       0.52735708, 0.        , 0.57776417, 0.09286208, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.17439297, 0.        , 0.25339469, 0.        , 0.        ,
       0.30318853, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.0361855 , 0.        , 0.        , 0.        , 0.10636793,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ])

In [119]:
em_df = pd.DataFrame(elastic_model.coef_, columns=["elastic_coef_(alp:1, l1:0.5)"])
em_df

    elastic_coef_(alp:1, l1:0.5)
0                       0.869900
1                       0.311544
2                       0.000000
3                       0.299733
4                       0.970370
5                       0.043061
6                       0.082779
7                       0.000000
8                       0.000000
9                       0.000000
10                      0.527357
11                      0.000000
12                      0.577764
13                      0.092862
14                      0.000000
15                      0.000000
16                      0.000000
17                      0.000000
18                      0.000000
19                      0.000000
20                      0.174393
21                      0.000000
22                      0.253395
23                      0.000000
24                      0.000000
25                      0.303189
26                      0.000000
27                      0.000000
28                      0.000000
29                      0.000000
30                      0.000000
31                      0.000000
32                      0.000000
33                      0.000000
34                      0.000000
35                      0.000000
36                      0.000000
37                      0.000000
38                      0.000000
39                      0.000000
40                      0.036186
41                      0.000000
42                      0.000000
43                      0.000000
44                      0.106368
45                      0.000000
46                      0.000000
47                      0.000000
48                      0.000000
49                      0.000000
50                      0.000000
51                      0.000000
52                      0.000000
53                      0.000000
54                      0.000000

### Choosing best alpha and l1_ratio values by ElasticNetCV

In [120]:
alpha_space = np.linspace(0.01, 1, 100)
alpha_space

array([0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09, 0.1 , 0.11,
       0.12, 0.13, 0.14, 0.15, 0.16, 0.17, 0.18, 0.19, 0.2 , 0.21, 0.22,
       0.23, 0.24, 0.25, 0.26, 0.27, 0.28, 0.29, 0.3 , 0.31, 0.32, 0.33,
       0.34, 0.35, 0.36, 0.37, 0.38, 0.39, 0.4 , 0.41, 0.42, 0.43, 0.44,
       0.45, 0.46, 0.47, 0.48, 0.49, 0.5 , 0.51, 0.52, 0.53, 0.54, 0.55,
       0.56, 0.57, 0.58, 0.59, 0.6 , 0.61, 0.62, 0.63, 0.64, 0.65, 0.66,
       0.67, 0.68, 0.69, 0.7 , 0.71, 0.72, 0.73, 0.74, 0.75, 0.76, 0.77,
       0.78, 0.79, 0.8 , 0.81, 0.82, 0.83, 0.84, 0.85, 0.86, 0.87, 0.88,
       0.89, 0.9 , 0.91, 0.92, 0.93, 0.94, 0.95, 0.96, 0.97, 0.98, 0.99,
       1.  ])

In [121]:
elastic_cv_model = ElasticNetCV(alphas = alpha_space, l1_ratio=[0.1, 0.5, 0.7,0.9, 0.95, 1], cv = 5, 
                                max_iter = 100000,random_state=42)

In [122]:
elastic_cv_model.fit(X_train_scaled, y_train)

ElasticNetCV(alphas=array([0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09, 0.1 , 0.11,
       0.12, 0.13, 0.14, 0.15, 0.16, 0.17, 0.18, 0.19, 0.2 , 0.21, 0.22,
       0.23, 0.24, 0.25, 0.26, 0.27, 0.28, 0.29, 0.3 , 0.31, 0.32, 0.33,
       0.34, 0.35, 0.36, 0.37, 0.38, 0.39, 0.4 , 0.41, 0.42, 0.43, 0.44,
       0.45, 0.46, 0.47, 0.48, 0.49, 0.5 , 0.51, 0.52, 0.53, 0.54, 0.55,
       0.56, 0.57, 0.58, 0.59, 0.6 , 0.61, 0.62, 0.63, 0.64, 0.65, 0.66,
       0.67, 0.68, 0.69, 0.7 , 0.71, 0.72, 0.73, 0.74, 0.75, 0.76, 0.77,
       0.78, 0.79, 0.8 , 0.81, 0.82, 0.83, 0.84, 0.85, 0.86, 0.87, 0.88,
       0.89, 0.9 , 0.91, 0.92, 0.93, 0.94, 0.95, 0.96, 0.97, 0.98, 0.99,
       1.  ]),
             cv=5, l1_ratio=[0.1, 0.5, 0.7, 0.9, 0.95, 1], max_iter=100000,
             random_state=42)

In [123]:
elastic_cv_model.alpha_

0.01

In [124]:
elastic_cv_model.l1_ratio_

1.0

In [125]:
y_pred = elastic_cv_model.predict(X_test_scaled)
y_train_pred = elastic_cv_model.predict(X_train_scaled)

In [126]:
ecs = train_val(y_train, y_train_pred, y_test, y_pred, "elastic_cv")
ecs

      elastic_cv_train  elastic_cv_test
R2            0.987480         0.985852
mae           0.347294         0.503240
mse           0.328546         0.386314
rmse          0.573189         0.621542

In [127]:
pd.concat([es, ecs], axis = 1)

      elastic_train  elastic_test  elastic_cv_train  elastic_cv_test
R2         0.895108      0.897352          0.987480         0.985852
mae        1.214719      1.235418          0.347294         0.503240
mse        2.752460      2.802755          0.328546         0.386314
rmse       1.659054      1.674143          0.573189         0.621542

In [128]:
elastic_cv_model.coef_

array([ 4.61288745,  0.45927272,  0.2663032 , -3.18923426,  3.43866735,
       -0.31073057,  0.        ,  0.        ,  0.        , -0.        ,
       -0.        , -0.02050749,  0.08764271, -0.        , -0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
       -0.        , -0.        , -0.        , -0.        ,  0.        ,
        0.0088969 , -0.        , -0.        ,  0.        ,  0.        ,
        0.01033616,  0.        ,  0.        ,  0.        ,  0.32445235,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
       -0.        , -0.        ,  0.        ,  0.        ,  0.        ,
       -0.        , -0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.10144876,  0.        ,  0.        ,  0.        ])

In [129]:
ecm_df = pd.DataFrame(elastic_cv_model.coef_, columns=["elastic_coef_(alp:0.01, l1:1)"])

In [130]:
pd.concat([em_df, ecm_df], axis = 1)

    elastic_coef_(alp:1, l1:0.5)  elastic_coef_(alp:0.01, l1:1)
0                       0.869900                       4.612887
1                       0.311544                       0.459273
2                       0.000000                       0.266303
3                       0.299733                      -3.189234
4                       0.970370                       3.438667
5                       0.043061                      -0.310731
6                       0.082779                       0.000000
7                       0.000000                       0.000000
8                       0.000000                       0.000000
9                       0.000000                      -0.000000
10                      0.527357                      -0.000000
11                      0.000000                      -0.020507
12                      0.577764                       0.087643
13                      0.092862                      -0.000000
14                      0.000000                      -0.000000
15                      0.000000                       0.000000
16                      0.000000                       0.000000
17                      0.000000                       0.000000
18                      0.000000                       0.000000
19                      0.000000                       0.000000
20                      0.174393                      -0.000000
21                      0.000000                      -0.000000
22                      0.253395                      -0.000000
23                      0.000000                      -0.000000
24                      0.000000                       0.000000
25                      0.303189                       0.008897
26                      0.000000                      -0.000000
27                      0.000000                      -0.000000
28                      0.000000                       0.000000
29                      0.000000                       0.000000
30                      0.000000                       0.010336
31                      0.000000                       0.000000
32                      0.000000                       0.000000
33                      0.000000                       0.000000
34                      0.000000                       0.324452
35                      0.000000                       0.000000
36                      0.000000                       0.000000
37                      0.000000                       0.000000
38                      0.000000                       0.000000
39                      0.000000                       0.000000
40                      0.036186                      -0.000000
41                      0.000000                      -0.000000
42                      0.000000                       0.000000
43                      0.000000                       0.000000
44                      0.106368                       0.000000
45                      0.000000                      -0.000000
46                      0.000000                      -0.000000
47                      0.000000                       0.000000
48                      0.000000                       0.000000
49                      0.000000                       0.000000
50                      0.000000                       0.000000
51                      0.000000                       0.101449
52                      0.000000                       0.000000
53                      0.000000                       0.000000
54                      0.000000                       0.000000

## <span style='color:red'> Grid Search</span>

In [131]:
from sklearn.model_selection import GridSearchCV

In [132]:
elastic_model = ElasticNet(max_iter=10000, random_state=42)

In [133]:
param_grid = {"alpha":[0.01, 0.012, 0.2, 0.5, 0.6, 0.7, 1],
            "l1_ratio":[0.1, 0.5, 0.7, 0.9, 0.95, 0.99, 1]}

In [134]:
grid_model = GridSearchCV(estimator = elastic_model, param_grid = param_grid, scoring = 'neg_root_mean_squared_error',
                         cv=5, verbose=2)

In [135]:
grid_model.fit(X_train_scaled, y_train)

Fitting 5 folds for each of 49 candidates, totalling 245 fits
[CV] END ...........................alpha=0.01, l1_ratio=0.1; total time=   0.0s
[CV] END ...........................alpha=0.01, l1_ratio=0.1; total time=   0.0s
[CV] END ...........................alpha=0.01, l1_ratio=0.1; total time=   0.0s
[CV] END ...........................alpha=0.01, l1_ratio=0.1; total time=   0.0s
[CV] END ...........................alpha=0.01, l1_ratio=0.1; total time=   0.0s
[CV] END ...........................alpha=0.01, l1_ratio=0.5; total time=   0.0s
[CV] END ...........................alpha=0.01, l1_ratio=0.5; total time=   0.0s
[CV] END ...........................alpha=0.01, l1_ratio=0.5; total time=   0.0s
[CV] END ...........................alpha=0.01, l1_ratio=0.5; total time=   0.0s
[CV] END ...........................alpha=0.01, l1_ratio=0.5; total time=   0.0s
[CV] END ...........................alpha=0.01, l1_ratio=0.7; total time=   0.0s
[CV] END ...........................alpha=0.01, l1_ratio=0.7; total time=   0.0s
[CV] END ...........................alpha=0.01, l1_ratio=0.7; total time=   0.0s
[CV] END ...........................alpha=0.01, l1_ratio=0.7; total time=   0.0s
[CV] END ...........................alpha=0.01, l1_ratio=0.7; total time=   0.0s
[CV] END ...........................alpha=0.01, l1_ratio=0.9; total time=   0.0s
[CV] END ...........................alpha=0.01, l1_ratio=0.9; total time=   0.0s
[CV] END ...........................alpha=0.01, l1_ratio=0.9; total time=   0.0s
[CV] END ...........................alpha=0.01, l1_ratio=0.9; total time=   0.0s
[CV] END ...........................alpha=0.01, l1_ratio=0.9; total time=   0.0s
[CV] END ..........................alpha=0.01, l1_ratio=0.95; total time=   0.0s
[CV] END ..........................alpha=0.01, l1_ratio=0.95; total time=   0.0s
[CV] END ..........................alpha=0.01, l1_ratio=0.95; total time=   0.0s
[CV] END ..........................alpha=0.01, l1_ratio=0.95; total time=   0.0s
[CV] END ..........................alpha=0.01, l1_ratio=0.95; total time=   0.0s
[CV] END ..........................alpha=0.01, l1_ratio=0.99; total time=   0.0s
[CV] END ..........................alpha=0.01, l1_ratio=0.99; total time=   0.0s
[CV] END ..........................alpha=0.01, l1_ratio=0.99; total time=   0.0s
[CV] END ..........................alpha=0.01, l1_ratio=0.99; total time=   0.0s
[CV] END ..........................alpha=0.01, l1_ratio=0.99; total time=   0.0s
[CV] END .............................alpha=0.01, l1_ratio=1; total time=   0.0s
[CV] END .............................alpha=0.01, l1_ratio=1; total time=   0.0s
[CV] END .............................alpha=0.01, l1_ratio=1; total time=   0.0s
[CV] END .............................alpha=0.01, l1_ratio=1; total time=   0.0s
[CV] END .............................alpha=0.01, l1_ratio=1; total time=   0.0s
[CV] END ..........................alpha=0.012, l1_ratio=0.1; total time=   0.0s
[CV] END ..........................alpha=0.012, l1_ratio=0.1; total time=   0.0s
[CV] END ..........................alpha=0.012, l1_ratio=0.1; total time=   0.0s
[CV] END ..........................alpha=0.012, l1_ratio=0.1; total time=   0.0s
[CV] END ..........................alpha=0.012, l1_ratio=0.1; total time=   0.0s
[CV] END ..........................alpha=0.012, l1_ratio=0.5; total time=   0.0s
[CV] END ..........................alpha=0.012, l1_ratio=0.5; total time=   0.0s
[CV] END ..........................alpha=0.012, l1_ratio=0.5; total time=   0.0s
[CV] END ..........................alpha=0.012, l1_ratio=0.5; total time=   0.0s
[CV] END ..........................alpha=0.012, l1_ratio=0.5; total time=   0.0s
[CV] END ..........................alpha=0.012, l1_ratio=0.7; total time=   0.0s
[CV] END ..........................alpha=0.012, l1_ratio=0.7; total time=   0.0s
[CV] END ..........................alpha=0.012, l1_ratio=0.7; total time=   0.0s
[CV] END ..........................alpha=0.012, l1_ratio=0.7; total time=   0.0s
[CV] END ..........................alpha=0.012, l1_ratio=0.7; total time=   0.0s
[CV] END ..........................alpha=0.012, l1_ratio=0.9; total time=   0.0s
[CV] END ..........................alpha=0.012, l1_ratio=0.9; total time=   0.0s
[CV] END ..........................alpha=0.012, l1_ratio=0.9; total time=   0.0s
[CV] END ..........................alpha=0.012, l1_ratio=0.9; total time=   0.0s
[CV] END ..........................alpha=0.012, l1_ratio=0.9; total time=   0.0s
[CV] END .........................alpha=0.012, l1_ratio=0.95; total time=   0.0s
[CV] END .........................alpha=0.012, l1_ratio=0.95; total time=   0.0s
[CV] END .........................alpha=0.012, l1_ratio=0.95; total time=   0.0s
[CV] END .........................alpha=0.012, l1_ratio=0.95; total time=   0.0s
[CV] END .........................alpha=0.012, l1_ratio=0.95; total time=   0.0s
[CV] END .........................alpha=0.012, l1_ratio=0.99; total time=   0.0s
[CV] END .........................alpha=0.012, l1_ratio=0.99; total time=   0.0s
[CV] END .........................alpha=0.012, l1_ratio=0.99; total time=   0.0s
[CV] END .........................alpha=0.012, l1_ratio=0.99; total time=   0.0s
[CV] END .........................alpha=0.012, l1_ratio=0.99; total time=   0.0s
[CV] END ............................alpha=0.012, l1_ratio=1; total time=   0.0s
[CV] END ............................alpha=0.012, l1_ratio=1; total time=   0.0s
[CV] END ............................alpha=0.012, l1_ratio=1; total time=   0.0s
[CV] END ............................alpha=0.012, l1_ratio=1; total time=   0.0s
[CV] END ............................alpha=0.012, l1_ratio=1; total time=   0.0s
[CV] END ............................alpha=0.2, l1_ratio=0.1; total time=   0.0s
[CV] END ............................alpha=0.2, l1_ratio=0.1; total time=   0.0s
[CV] END ............................alpha=0.2, l1_ratio=0.1; total time=   0.0s
[CV] END ............................alpha=0.2, l1_ratio=0.1; total time=   0.0s
[CV] END ............................alpha=0.2, l1_ratio=0.1; total time=   0.0s
[CV] END ............................alpha=0.2, l1_ratio=0.5; total time=   0.0s
[CV] END ............................alpha=0.2, l1_ratio=0.5; total time=   0.0s
[CV] END ............................alpha=0.2, l1_ratio=0.5; total time=   0.0s
[CV] END ............................alpha=0.2, l1_ratio=0.5; total time=   0.0s
[CV] END ............................alpha=0.2, l1_ratio=0.5; total time=   0.0s
[CV] END ............................alpha=0.2, l1_ratio=0.7; total time=   0.0s
[CV] END ............................alpha=0.2, l1_ratio=0.7; total time=   0.0s
[CV] END ............................alpha=0.2, l1_ratio=0.7; total time=   0.0s
[CV] END ............................alpha=0.2, l1_ratio=0.7; total time=   0.0s
[CV] END ............................alpha=0.2, l1_ratio=0.7; total time=   0.0s
[CV] END ............................alpha=0.2, l1_ratio=0.9; total time=   0.0s
[CV] END ............................alpha=0.2, l1_ratio=0.9; total time=   0.0s
[CV] END ............................alpha=0.2, l1_ratio=0.9; total time=   0.0s
[CV] END ............................alpha=0.2, l1_ratio=0.9; total time=   0.0s
[CV] END ............................alpha=0.2, l1_ratio=0.9; total time=   0.0s
[CV] END ...........................alpha=0.2, l1_ratio=0.95; total time=   0.0s
[CV] END ...........................alpha=0.2, l1_ratio=0.95; total time=   0.0s
[CV] END ...........................alpha=0.2, l1_ratio=0.95; total time=   0.0s
[CV] END ...........................alpha=0.2, l1_ratio=0.95; total time=   0.0s
[CV] END ...........................alpha=0.2, l1_ratio=0.95; total time=   0.0s
[CV] END ...........................alpha=0.2, l1_ratio=0.99; total time=   0.0s
[CV] END ...........................alpha=0.2, l1_ratio=0.99; total time=   0.0s
[CV] END ...........................alpha=0.2, l1_ratio=0.99; total time=   0.0s
[CV] END ...........................alpha=0.2, l1_ratio=0.99; total time=   0.0s
[CV] END ...........................alpha=0.2, l1_ratio=0.99; total time=   0.0s
[CV] END ..............................alpha=0.2, l1_ratio=1; total time=   0.0s
[CV] END ..............................alpha=0.2, l1_ratio=1; total time=   0.0s
[CV] END ..............................alpha=0.2, l1_ratio=1; total time=   0.0s
[CV] END ..............................alpha=0.2, l1_ratio=1; total time=   0.0s
[CV] END ..............................alpha=0.2, l1_ratio=1; total time=   0.0s
[CV] END ............................alpha=0.5, l1_ratio=0.1; total time=   0.0s
[CV] END ............................alpha=0.5, l1_ratio=0.1; total time=   0.0s
[CV] END ............................alpha=0.5, l1_ratio=0.1; total time=   0.0s
[CV] END ............................alpha=0.5, l1_ratio=0.1; total time=   0.0s
[CV] END ............................alpha=0.5, l1_ratio=0.1; total time=   0.0s
[CV] END ............................alpha=0.5, l1_ratio=0.5; total time=   0.0s
[CV] END ............................alpha=0.5, l1_ratio=0.5; total time=   0.0s
[CV] END ............................alpha=0.5, l1_ratio=0.5; total time=   0.0s
[CV] END ............................alpha=0.5, l1_ratio=0.5; total time=   0.0s
[CV] END ............................alpha=0.5, l1_ratio=0.5; total time=   0.0s
[CV] END ............................alpha=0.5, l1_ratio=0.7; total time=   0.0s
[CV] END ............................alpha=0.5, l1_ratio=0.7; total time=   0.0s
[CV] END ............................alpha=0.5, l1_ratio=0.7; total time=   0.0s
[CV] END ............................alpha=0.5, l1_ratio=0.7; total time=   0.0s
[CV] END ............................alpha=0.5, l1_ratio=0.7; total time=   0.0s
[CV] END ............................alpha=0.5, l1_ratio=0.9; total time=   0.0s
[CV] END ............................alpha=0.5, l1_ratio=0.9; total time=   0.0s
[CV] END ............................alpha=0.5, l1_ratio=0.9; total time=   0.0s
[CV] END ............................alpha=0.5, l1_ratio=0.9; total time=   0.0s
[CV] END ............................alpha=0.5, l1_ratio=0.9; total time=   0.0s
[CV] END ...........................alpha=0.5, l1_ratio=0.95; total time=   0.0s
[CV] END ...........................alpha=0.5, l1_ratio=0.95; total time=   0.0s
[CV] END ...........................alpha=0.5, l1_ratio=0.95; total time=   0.0s
[CV] END ...........................alpha=0.5, l1_ratio=0.95; total time=   0.0s
[CV] END ...........................alpha=0.5, l1_ratio=0.95; total time=   0.0s
[CV] END ...........................alpha=0.5, l1_ratio=0.99; total time=   0.0s
[CV] END ...........................alpha=0.5, l1_ratio=0.99; total time=   0.0s
[CV] END ...........................alpha=0.5, l1_ratio=0.99; total time=   0.0s
[CV] END ...........................alpha=0.5, l1_ratio=0.99; total time=   0.0s
[CV] END ...........................alpha=0.5, l1_ratio=0.99; total time=   0.0s
[CV] END ..............................alpha=0.5, l1_ratio=1; total time=   0.0s
[CV] END ..............................alpha=0.5, l1_ratio=1; total time=   0.0s
[CV] END ..............................alpha=0.5, l1_ratio=1; total time=   0.0s
[CV] END ..............................alpha=0.5, l1_ratio=1; total time=   0.0s
[CV] END ..............................alpha=0.5, l1_ratio=1; total time=   0.0s
[CV] END ............................alpha=0.6, l1_ratio=0.1; total time=   0.0s
[CV] END ............................alpha=0.6, l1_ratio=0.1; total time=   0.0s
[CV] END ............................alpha=0.6, l1_ratio=0.1; total time=   0.0s
[CV] END ............................alpha=0.6, l1_ratio=0.1; total time=   0.0s
[CV] END ............................alpha=0.6, l1_ratio=0.1; total time=   0.0s
[CV] END ............................alpha=0.6, l1_ratio=0.5; total time=   0.0s
[CV] END ............................alpha=0.6, l1_ratio=0.5; total time=   0.0s
[CV] END ............................alpha=0.6, l1_ratio=0.5; total time=   0.0s
[CV] END ............................alpha=0.6, l1_ratio=0.5; total time=   0.0s
[CV] END ............................alpha=0.6, l1_ratio=0.5; total time=   0.0s
[CV] END ............................alpha=0.6, l1_ratio=0.7; total time=   0.0s
[CV] END ............................alpha=0.6, l1_ratio=0.7; total time=   0.0s
[CV] END ............................alpha=0.6, l1_ratio=0.7; total time=   0.0s
[CV] END ............................alpha=0.6, l1_ratio=0.7; total time=   0.0s
[CV] END ............................alpha=0.6, l1_ratio=0.7; total time=   0.0s
[CV] END ............................alpha=0.6, l1_ratio=0.9; total time=   0.0s
[CV] END ............................alpha=0.6, l1_ratio=0.9; total time=   0.0s
[CV] END ............................alpha=0.6, l1_ratio=0.9; total time=   0.0s
[CV] END ............................alpha=0.6, l1_ratio=0.9; total time=   0.0s
[CV] END ............................alpha=0.6, l1_ratio=0.9; total time=   0.0s
[CV] END ...........................alpha=0.6, l1_ratio=0.95; total time=   0.0s
[CV] END ...........................alpha=0.6, l1_ratio=0.95; total time=   0.0s
[CV] END ...........................alpha=0.6, l1_ratio=0.95; total time=   0.0s
[CV] END ...........................alpha=0.6, l1_ratio=0.95; total time=   0.0s
[CV] END ...........................alpha=0.6, l1_ratio=0.95; total time=   0.0s
[CV] END ...........................alpha=0.6, l1_ratio=0.99; total time=   0.0s
[CV] END ...........................alpha=0.6, l1_ratio=0.99; total time=   0.0s
[CV] END ...........................alpha=0.6, l1_ratio=0.99; total time=   0.0s
[CV] END ...........................alpha=0.6, l1_ratio=0.99; total time=   0.0s
[CV] END ...........................alpha=0.6, l1_ratio=0.99; total time=   0.0s
[CV] END ..............................alpha=0.6, l1_ratio=1; total time=   0.0s
[CV] END ..............................alpha=0.6, l1_ratio=1; total time=   0.0s
[CV] END ..............................alpha=0.6, l1_ratio=1; total time=   0.0s
[CV] END ..............................alpha=0.6, l1_ratio=1; total time=   0.0s
[CV] END ..............................alpha=0.6, l1_ratio=1; total time=   0.0s
[CV] END ............................alpha=0.7, l1_ratio=0.1; total time=   0.0s
[CV] END ............................alpha=0.7, l1_ratio=0.1; total time=   0.0s
[CV] END ............................alpha=0.7, l1_ratio=0.1; total time=   0.0s
[CV] END ............................alpha=0.7, l1_ratio=0.1; total time=   0.0s
[CV] END ............................alpha=0.7, l1_ratio=0.1; total time=   0.0s
[CV] END ............................alpha=0.7, l1_ratio=0.5; total time=   0.0s
[CV] END ............................alpha=0.7, l1_ratio=0.5; total time=   0.0s
[CV] END ............................alpha=0.7, l1_ratio=0.5; total time=   0.0s
[CV] END ............................alpha=0.7, l1_ratio=0.5; total time=   0.0s
[CV] END ............................alpha=0.7, l1_ratio=0.5; total time=   0.0s
[CV] END ............................alpha=0.7, l1_ratio=0.7; total time=   0.0s
[CV] END ............................alpha=0.7, l1_ratio=0.7; total time=   0.0s
[CV] END ............................alpha=0.7, l1_ratio=0.7; total time=   0.0s
[CV] END ............................alpha=0.7, l1_ratio=0.7; total time=   0.0s
[CV] END ............................alpha=0.7, l1_ratio=0.7; total time=   0.0s
[CV] END ............................alpha=0.7, l1_ratio=0.9; total time=   0.0s
[CV] END ............................alpha=0.7, l1_ratio=0.9; total time=   0.0s
[CV] END ............................alpha=0.7, l1_ratio=0.9; total time=   0.0s
[CV] END ............................alpha=0.7, l1_ratio=0.9; total time=   0.0s
[CV] END ............................alpha=0.7, l1_ratio=0.9; total time=   0.0s
[CV] END ...........................alpha=0.7, l1_ratio=0.95; total time=   0.0s
[CV] END ...........................alpha=0.7, l1_ratio=0.95; total time=   0.0s
[CV] END ...........................alpha=0.7, l1_ratio=0.95; total time=   0.0s
[CV] END ...........................alpha=0.7, l1_ratio=0.95; total time=   0.0s
[CV] END ...........................alpha=0.7, l1_ratio=0.95; total time=   0.0s
[CV] END ...........................alpha=0.7, l1_ratio=0.99; total time=   0.0s
[CV] END ...........................alpha=0.7, l1_ratio=0.99; total time=   0.0s
[CV] END ...........................alpha=0.7, l1_ratio=0.99; total time=   0.0s
[CV] END ...........................alpha=0.7, l1_ratio=0.99; total time=   0.0s
[CV] END ...........................alpha=0.7, l1_ratio=0.99; total time=   0.0s
[CV] END ..............................alpha=0.7, l1_ratio=1; total time=   0.0s
[CV] END ..............................alpha=0.7, l1_ratio=1; total time=   0.0s
[CV] END ..............................alpha=0.7, l1_ratio=1; total time=   0.0s
[CV] END ..............................alpha=0.7, l1_ratio=1; total time=   0.0s
[CV] END ..............................alpha=0.7, l1_ratio=1; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.1; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.1; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.1; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.1; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.1; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.5; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.5; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.5; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.5; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.5; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.7; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.7; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.7; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.7; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.7; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.9; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.9; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.9; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.9; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.9; total time=   0.0s
[CV] END .............................alpha=1, l1_ratio=0.95; total time=   0.0s
[CV] END .............................alpha=1, l1_ratio=0.95; total time=   0.0s
[CV] END .............................alpha=1, l1_ratio=0.95; total time=   0.0s
[CV] END .............................alpha=1, l1_ratio=0.95; total time=   0.0s
[CV] END .............................alpha=1, l1_ratio=0.95; total time=   0.0s
[CV] END .............................alpha=1, l1_ratio=0.99; total time=   0.0s
[CV] END .............................alpha=1, l1_ratio=0.99; total time=   0.0s
[CV] END .............................alpha=1, l1_ratio=0.99; total time=   0.0s
[CV] END .............................alpha=1, l1_ratio=0.99; total time=   0.0s
[CV] END .............................alpha=1, l1_ratio=0.99; total time=   0.0s
[CV] END ................................alpha=1, l1_ratio=1; total time=   0.0s
[CV] END ................................alpha=1, l1_ratio=1; total time=   0.0s
[CV] END ................................alpha=1, l1_ratio=1; total time=   0.0s
[CV] END ................................alpha=1, l1_ratio=1; total time=   0.0s
[CV] END ................................alpha=1, l1_ratio=1; total time=   0.0s

GridSearchCV(cv=5, estimator=ElasticNet(max_iter=10000, random_state=42),
             param_grid={'alpha': [0.01, 0.012, 0.2, 0.5, 0.6, 0.7, 1],
                         'l1_ratio': [0.1, 0.5, 0.7, 0.9, 0.95, 0.99, 1]},
             scoring='neg_root_mean_squared_error', verbose=2)

In [136]:
grid_model.best_params_

{'alpha': 0.01, 'l1_ratio': 1}

In [137]:
pd.DataFrame(grid_model.cv_results_)

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_alpha,param_l1_ratio,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.015404,0.006833,0.000315,0.000030,0.01,0.1,"{'alpha': 0.01, 'l1_ratio': 0.1}",-0.518456,-0.714007,-0.684389,-0.524966,-1.272285,-0.742821,0.276542,14
1,0.003162,0.000310,0.000265,0.000009,0.01,0.5,"{'alpha': 0.01, 'l1_ratio': 0.5}",-0.490858,-0.543527,-0.655183,-0.500694,-1.230979,-0.684248,0.279519,11
2,0.002877,0.000173,0.000272,0.000011,0.01,0.7,"{'alpha': 0.01, 'l1_ratio': 0.7}",-0.478381,-0.521565,-0.637412,-0.489429,-1.218070,-0.668971,0.280283,9
3,0.003413,0.000302,0.000279,0.000036,0.01,0.9,"{'alpha': 0.01, 'l1_ratio': 0.9}",-0.463831,-0.521283,-0.613812,-0.472519,-1.193579,-0.653005,0.275488,5
4,0.003470,0.000380,0.000269,0.000009,0.01,0.95,"{'alpha': 0.01, 'l1_ratio': 0.95}",-0.462007,-0.518117,-0.604001,-0.466589,-1.176390,-0.645421,0.270360,3
5,0.003804,0.001762,0.000283,0.000013,0.01,0.99,"{'alpha': 0.01, 'l1_ratio': 0.99}",-0.456287,-0.512238,-0.595029,-0.455268,-1.166363,-0.637037,0.269531,2
6,0.003653,0.000833,0.000275,0.000006,0.01,1,"{'alpha': 0.01, 'l1_ratio': 1}",-0.455932,-0.511051,-0.592362,-0.451495,-1.165487,-0.635265,0.269940,1
7,0.011194,0.005024,0.000316,0.000087,0.012,0.1,"{'alpha': 0.012, 'l1_ratio': 0.1}",-0.514829,-0.658855,-0.705831,-0.541010,-1.292208,-0.742547,0.283885,13
8,0.002810,0.000197,0.000277,0.000016,0.012,0.5,"{'alpha': 0.012, 'l1_ratio': 0.5}",-0.484481,-0.538170,-0.681200,-0.512026,-1.246364,-0.692448,0.285150,12
9,0.002726,0.000158,0.000278,0.000008,0.012,0.7,"{'alpha': 0.012, 'l1_ratio': 0.7}",-0.472428,-0.530224,-0.666661,-0.509201,-1.230080,-0.681719,0.281937,10
10,0.003232,0.000178,0.000273,0.000009,0.012,0.9,"{'alpha': 0.012, 'l1_ratio': 0.9}",-0.457768,-0.539852,-0.634930,-0.485249,-1.214562,-0.666472,0.280653,8
11,0.003066,0.000255,0.000275,0.000014,0.012,0.95,"{'alpha': 0.012, 'l1_ratio': 0.95}",-0.457317,-0.533073,-0.631777,-0.489939,-1.200704,-0.662562,0.275404,7
12,0.003235,0.000692,0.000264,0.000005,0.012,0.99,"{'alpha': 0.012, 'l1_ratio': 0.99}",-0.455250,-0.525255,-0.626950,-0.485411,-1.176919,-0.653957,0.267834,6
13,0.003230,0.000604,0.000277,0.000011,0.012,1,"{'alpha': 0.012, 'l1_ratio': 1}",-0.453733,-0.524016,-0.625032,-0.483074,-1.174353,-0.652042,0.267509,4
14,0.001897,0.000209,0.000281,0.000019,0.2,0.1,"{'alpha': 0.2, 'l1_ratio': 0.1}",-0.745047,-0.881198,-1.209517,-0.895151,-1.718945,-1.089972,0.349403,21
15,0.001368,0.000228,0.000258,0.000005,0.2,0.5,"{'alpha': 0.2, 'l1_ratio': 0.5}",-0.690848,-0.868273,-1.222056,-0.810787,-1.670067,-1.052406,0.355892,20
16,0.001748,0.000691,0.000355,0.000071,0.2,0.7,"{'alpha': 0.2, 'l1_ratio': 0.7}",-0.671322,-0.814345,-1.201633,-0.755207,-1.617140,-1.011929,0.353052,19
17,0.001551,0.000373,0.000758,0.000693,0.2,0.9,"{'alpha': 0.2, 'l1_ratio': 0.9}",-0.625938,-0.776409,-1.208482,-0.767541,-1.558343,-0.987342,0.345937,16
18,0.001162,0.000302,0.000334,0.000092,0.2,0.95,"{'alpha': 0.2, 'l1_ratio': 0.95}",-0.611984,-0.764780,-1.223166,-0.785722,-1.544963,-0.986123,0.345724,15
19,0.001343,0.000275,0.000333,0.000118,0.2,0.99,"{'alpha': 0.2, 'l1_ratio': 0.99}",-0.606017,-0.767693,-1.243672,-0.828432,-1.530651,-0.995293,0.340435,17
20,0.002285,0.000620,0.000407,0.000114,0.2,1,"{'alpha': 0.2, 'l1_ratio': 1}",-0.605611,-0.771117,-1.249547,-0.845031,-1.526819,-0.999625,0.338159,18
21,0.001616,0.000105,0.000262,0.000007,0.5,0.1,"{'alpha': 0.5, 'l1_ratio': 0.1}",-1.099445,-1.286170,-1.586895,-1.230756,-1.994519,-1.439557,0.320154,39
22,0.001514,0.000112,0.000272,0.000018,0.5,0.5,"{'alpha': 0.5, 'l1_ratio': 0.5}",-0.963024,-1.146274,-1.596346,-1.044154,-1.922498,-1.334459,0.366614,36
23,0.001586,0.000149,0.000271,0.000016,0.5,0.7,"{'alpha': 0.5, 'l1_ratio': 0.7}",-0.844174,-1.054230,-1.542984,-0.963287,-1.828070,-1.246549,0.375545,32
24,0.001515,0.000602,0.000387,0.000194,0.5,0.9,"{'alpha': 0.5, 'l1_ratio': 0.9}",-0.735207,-0.938706,-1.494964,-0.954795,-1.685430,-1.161820,0.363260,25
25,0.001568,0.000179,0.000273,0.000020,0.5,0.95,"{'alpha': 0.5, 'l1_ratio': 0.95}",-0.713428,-0.899022,-1.478050,-0.924465,-1.657576,-1.134508,0.365651,24
26,0.001322,0.000025,0.000265,0.000007,0.5,0.99,"{'alpha': 0.5, 'l1_ratio': 0.99}",-0.696064,-0.855364,-1.453088,-0.908054,-1.640588,-1.110632,0.367749,23
27,0.001259,0.000268,0.000307,0.000044,0.5,1,"{'alpha': 0.5, 'l1_ratio': 1}",-0.692947,-0.852100,-1.444575,-0.904423,-1.639414,-1.106692,0.367389,22
28,0.001653,0.000114,0.000334,0.000116,0.6,0.1,"{'alpha': 0.6, 'l1_ratio': 0.1}",-1.177621,-1.383717,-1.676393,-1.296661,-2.057971,-1.518473,0.316081,43
29,0.001733,0.000466,0.000337,0.000117,0.6,0.5,"{'alpha': 0.6, 'l1_ratio': 0.5}",-1.033580,-1.217186,-1.694784,-1.100660,-1.987323,-1.406707,0.371190,37
30,0.001307,0.000249,0.000290,0.000025,0.6,0.7,"{'alpha': 0.6, 'l1_ratio': 0.7}",-0.920898,-1.135623,-1.655076,-1.037755,-1.899963,-1.329863,0.379759,35
31,0.001520,0.000155,0.000270,0.000015,0.6,0.9,"{'alpha': 0.6, 'l1_ratio': 0.9}",-0.803284,-1.020391,-1.587876,-1.014947,-1.759062,-1.237112,0.368782,30
32,0.001447,0.000167,0.000257,0.000011,0.6,0.95,"{'alpha': 0.6, 'l1_ratio': 0.95}",-0.776276,-0.971672,-1.555074,-0.985024,-1.711760,-1.199961,0.364929,28
33,0.001426,0.000161,0.000604,0.000502,0.6,0.99,"{'alpha': 0.6, 'l1_ratio': 0.99}",-0.748525,-0.914867,-1.525010,-0.962866,-1.701069,-1.170468,0.372479,27
34,0.001738,0.000268,0.000356,0.000099,0.6,1,"{'alpha': 0.6, 'l1_ratio': 1}",-0.744497,-0.909772,-1.514718,-0.956393,-1.699926,-1.165061,0.372540,26
35,0.001895,0.000549,0.000261,0.000006,0.7,0.1,"{'alpha': 0.7, 'l1_ratio': 0.1}",-1.240776,-1.455356,-1.750154,-1.347720,-2.111347,-1.581071,0.314909,45
36,0.001619,0.000307,0.000365,0.000221,0.7,0.5,"{'alpha': 0.7, 'l1_ratio': 0.5}",-1.102396,-1.283271,-1.785380,-1.156058,-2.046889,-1.474799,0.374356,41
37,0.001501,0.000257,0.000280,0.000022,0.7,0.7,"{'alpha': 0.7, 'l1_ratio': 0.7}",-1.003545,-1.219330,-1.760461,-1.118137,-1.967683,-1.413831,0.379606,38
38,0.001510,0.000123,0.000259,0.000008,0.7,0.9,"{'alpha': 0.7, 'l1_ratio': 0.9}",-0.880289,-1.108944,-1.692817,-1.091115,-1.833330,-1.321299,0.372229,34
39,0.001431,0.000156,0.000330,0.000102,0.7,0.95,"{'alpha': 0.7, 'l1_ratio': 0.95}",-0.843456,-1.050024,-1.635756,-1.062095,-1.773894,-1.273045,0.363647,33
40,0.003327,0.002413,0.000571,0.000186,0.7,0.99,"{'alpha': 0.7, 'l1_ratio': 0.99}",-0.812139,-0.985933,-1.600712,-1.033405,-1.764513,-1.239340,0.372967,31
41,0.001393,0.000555,0.000267,0.000005,0.7,1,"{'alpha': 0.7, 'l1_ratio': 1}",-0.807320,-0.979067,-1.588712,-1.023989,-1.763410,-1.232500,0.373426,29
42,0.001660,0.000118,0.000270,0.000005,1,0.1,"{'alpha': 1, 'l1_ratio': 0.1}",-1.407198,-1.600490,-1.936174,-1.450519,-2.244314,-1.727739,0.318146,49
43,0.001294,0.000279,0.000280,0.000013,1,0.5,"{'alpha': 1, 'l1_ratio': 0.5}",-1.301417,-1.474842,-2.032482,-1.327912,-2.210422,-1.669415,0.377998,48
44,0.001810,0.000340,0.000841,0.001140,1,0.7,"{'alpha': 1, 'l1_ratio': 0.7}",-1.243374,-1.471449,-2.064508,-1.375513,-2.169744,-1.664918,0.377732,47
45,0.001471,0.000165,0.000269,0.000019,1,0.9,"{'alpha': 1, 'l1_ratio': 0.9}",-1.139119,-1.384279,-1.993231,-1.381611,-2.061714,-1.591991,0.367187,46
46,0.001463,0.000113,0.000255,0.000010,1,0.95,"{'alpha': 1, 'l1_ratio': 0.95}",-1.084033,-1.323962,-1.925703,-1.360639,-1.997356,-1.538339,0.359076,44
47,0.001645,0.000483,0.000287,0.000055,1,0.99,"{'alpha': 1, 'l1_ratio': 0.99}",-1.047645,-1.246996,-1.845502,-1.310875,-1.969196,-1.484043,0.358510,42
48,0.001856,0.000597,0.000546,0.000140,1,1,"{'alpha': 1, 'l1_ratio': 1}",-1.041541,-1.235505,-1.829022,-1.293493,-1.969104,-1.473733,0.359903,40

In [138]:
grid_model.best_index_

6

In [139]:
grid_model.best_score_

-0.6352653285194695

## Using Best Hyperparameters from GridSearch

In [140]:
y_pred = grid_model.predict(X_test_scaled)
y_train_pred = grid_model.predict(X_train_scaled)

In [141]:
train_val(y_train, y_train_pred, y_test, y_pred, "GridSearch")

      GridSearch_train  GridSearch_test
R2            0.987480         0.985852
mae           0.347294         0.503240
mse           0.328546         0.386314
rmse          0.573189         0.621542

## <span style='color:Blue'> Final Model</span>

In [142]:
final_scaler = StandardScaler()
X_scaled = final_scaler.fit_transform(poly_features)

In [143]:
from sklearn.linear_model import Lasso
final_model = Lasso(alpha=0.01)

In [144]:
final_model.fit(X_scaled, y)

Lasso(alpha=0.01)